package templates

templ About() {
	@Base("About", aboutContent())
}

templ aboutContent() {
	<div class="container">
		<h1>ABOUT PAGE</h1>
		<p>This is the about page with reusable components.</p>
	</div>
}
