package templates

templ Nav() {
    <nav>
        <ul>
            <li><a href="/" hx-boost="true">HOME</a></li>
            <li><a href="/about" hx-boost="true">ABOUT</a></li>
            <li><a href="/projects" hx-boost="true">PROJECTS</a></li>
            <li style="border-right: none;">
                <a href="/contact" hx-boost="true">CONTACT</a>
            </li>
        </ul>
    </nav>
}
